{% extends "base.html" %}

{% block title %}Delete Project{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Are you sure you want to delete this project?</h1>
        <p>Project: {{ object.name }}</p>
        
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'update_project_view' object.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
